body {
    align-content: center;
    justify-content: center;
    flex-direction: column;
    background-color: #5B7067;
    margin: 0;
    width: 100vw;
}

*{
    text-align: center;
    background-color:#5B7067;
    color: #c1d6cb;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}

.topBar {
    display: flex;
    width: 100%;
    background-color:  #07201d;
    justify-content: center;
}

.headShotImageFormat {
    float: left;
    background-color:  #07201d;
    padding-top: 2vh;
    padding-bottom: 2vh;
    
    
}

.headShot {   
    height: 20vh;
    background-color: #07201d;
    border-radius:50%;  
    
}

.header {
    display: flex;
    background-color: #07201d;
    justify-content: center;
    flex-direction: column;
    height: 20vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 3vw;
   
    
}

    h1{
        color:#b9bbba;
        display: flex;
        justify-content: center;
        background-color: #07201d;
        margin:0;
    
    }

    .contactInfo {
        display:flex;
        justify-content: center;
        color:#b9bbba;
        background-color: #07201d;
    
    
    }

h3{
    color:#07201d;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #6f8a7e;
    font-size: x-large;
    clear:both;
}

p{
    margin-left: 10vw;
    margin-right: 10vw;
}


    .famPhoto {
        float:right;
        width:fit-content;
        margin-right: 10vw;
        margin-left:1vw;
        border-radius: 50%;
    }

    .pets {
        display:flex;
        justify-content: space-evenly;
        flex-direction: row;
        background-color:#34463e;
        width: 100vw;
        padding: 2vh;
        
    }

.aboutMe{
    margin-bottom: 0;
}

button {
    display: flex;
    background-color: #07201d;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: none;
    padding: 0;
   font-size: 14px;
   margin-bottom: 10px;
    
}

a {
    display: flex;
    background-color: #07201d;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 15px;
    width: 450px;

}

        a:link {
            text-decoration: none;
            color:#b9bbba
        }

        a:visited {
            color:#44534d
        }

        a:hover{
            color: #d0f3e1;
            background-color: #44534d;
        }

.phs, .mtc, .ptc, .midlandsEMS, .pf, .udemy {
    margin-bottom: 20px;
}

.scvsec, .blah, .lmc, .fp, .cvets, .github {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    width: 450px;
    margin-left:auto;
    margin-right: auto;
    padding: 10px;
 
}

ul {
    list-style-type: none;

}

li {
    margin-bottom: 20px;
}

footer {
    background-color: #07201d;
    padding: 10px;
    font-size: 1.5rem;
    
}