*{
    text-align: center;
    background-color:#5B7067;
    color: #c1d6cb;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    display: flex;
    background-color: #07201d;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

h1{
    color:#d0f3e1;
    display: flex;
    justify-content: center;
    background-color: #07201d;
    
}

.contactinfo {
    display:flex;
    justify-content: center;
    color:#b9bbba;
    background-color: #07201d;
    
    
}

h3{
    color:#07201d;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #6f8a7e;
    font-size: x-large;
}

footer {
    background-color: #07201d;
    padding: 10px;
}

button {
    display: flex;
    background-color: #07201d;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

a {
    display: flex;
    background-color: #07201d;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 15px;

}

a:link {
    text-decoration: none;
    color:#b9bbba
}

a:visited {
    color:#44534d
}

a:hover{
    color: #d0f3e1;
    background-color: #44534d;
}

.scvsec {
    display:flex;
    flex-direction: column;
    width:500px;
    justify-content: center;
    align-content: center;
   
}